@font-face {
  font-family: "Calligraffitti";
  src: url("./assets/fonts/Calligraffitti/Calligraffitti-Regular.ttf");
}

.swing {
  animation: 5s ease 0s normal none infinite swing;
  transform-origin: center 30%;
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.jump {
  animation: 1.2s linear 0s normal none infinite jump;
}

@keyframes jump {
  40% {
    transform: rotate(20deg) translateY(-120px);
  }
  50% {
    transform: rotate(15deg) translateY(-120px);
  }
  60% {
    transform: rotate(-5deg) translateY(-100px);
  }
}

body {
  background: rgb(222,230,239);
  color: black;
  font-family: Calligraffitti, fantasy;
  margin: 0;
}